<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="stylesmedia.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <div class="todosjuntos">
           
                <div class="imagenlogo">
                    <img class="logo" src="./images/logo-mercado-liebre.svg" alt="">
                </div>
                <div class="buscador">
                    <div class="buscador2">

                    <input placeholder="   buscar productos y marcas" type="search" name="" id="" class="busqueda"><button type="submit" class="fa fa-search lupa"></button></input>
                </div>
                
            </div>

            <div class="consejo">
            <p ><i class="fas fa-hand-holding-usd"></i> Comprar en cuotas y sin tarjeta de credito</p>
            </div>
        </div>


        <div class="menues">
        <nav class="PrimerMenu">
            <ul>
                <li><a href="">Oferta </a></li>
                <li> <a href="">Tiendas oficiales </a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda </a></li>
            </ul>
        </nav>
        <nav class="SegundoMenu">
            <ul>
                <li><a href="">Crea tu cuenta <i class="fas fa-id-card"></i></a></li>
                <li><a href="">Ingresar <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </nav>
    </div>

        <div class="burger-menu">
            <i class="fas fa-bars"></i>
            </div>
        </div>


    </header>
    <main>
        <div class="basado">
        <h2>Basado en tu última visita
        </h2>
    </div>
        <section class="productos">
         

            <article class="imagen">
                <img src="./images/img-cafetera-moulinex.jpg" alt="">
                <div class="cajarara">
                    <i class="fas fa-truck"></i>


                <h4 class="precio">$6.770 <br></h4>
                <p class="descuentito">40% off<br></p>
                <p class="descript">Cafetera Moulinex<br></p>
                </div>


            </article>

            <article class="imagen">
                <img src="./images/img-samsung-galaxy-s10.jpg" alt="">

                <div class="cajarara">
                    <i class="fas fa-truck"></i>



                <h4 class="precio">$70.500 <br></h4>
                <p class="descuentito">10% off<br></p>
                <p class="descript">Samsung Galaxy S10<br></p>
            </div>



            </article>

            <article class="imagen">
                <img src="./images/img-tv-samsung-smart.jpg" alt="">
                <div class="cajarara">
                    <i class="fas fa-truck"></i>


                <h4 class="precio">23.200<br></h4>
                <p class="descuentito">5% off<br></p>
                <p class="descript"> SmartTv Samsung 43"<br></p>
            </div>





            </article>
            <article class="imagen">
                <img src="./images/img-tv-samsung-smart.jpg" alt="">
                <div class="cajarara">
                    <i class="fas fa-truck"></i>


                <h4 class="precio">23.200<br></h4>
                <p class="descuentito">5% off<br></p>
                <p class="descript"> SmartTv Samsung 43"<br></p>
            </div>





            </article>

        </section>
        <div>
            <h2>OFERTAS!!</h2>
        </div>

        <section class="ofertas productos">
            <article class="imagen">
                <img src="./images/img-macbook-pro-2019.jpg" alt="">
                <div class="cajarara">

                    <i class="fas fa-truck"></i>


                    <h4 class="precio">$230.000<br></h4>
                    <p class="descuentito">20% off<br></p>
                    <p class="descript"> MacBook Pro 2019<br></p>
                </div>





            </article>




        </section>






    </main>

    <footer>
        <i class="fas fa-credit-card iconitos"></i>

        <P class="princ">Pagá con tarjeta o en efectivo</P>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-gift iconitos"></i>

        <P class="princ">Pagá con tarjeta o en efectivo</P>


        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!</p>
        <i class="fas fa-user-shield iconitos"></i>

        <P class="princ">Pagá con tarjeta o en efectivo</P>
        <p> Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
            puntos de pago. ¡Y siempre es seguro!!</p>







    </footer>
</body>

</html>